<div class="alert alert-warning" ng-hide="sites.length > 0">
    You do not have yet any site created. Please <a href="#/app/site/">create the new site</a>.
</div>

<div ng-show="sites.length > 0">
    <div class="clearfix">
        <div class="pull-right">
            <a ui-sref="app.site" class="btn btn-success btn-lg" tooltip="sdfs" tooltip-placement="right"><i
                    class="fa fa-plus fa-lg"></i> Add site</a>
        </div>
    </div>
    <br/>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th width="1px">#</th>
            <th width="1px"></th>
            <th>Site name</th>
            <th>Created</th>
            <th width="1%">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="site in sites">
            <td>{{$index}}</td>
            <th width="1px">
                <div class="btn-group" dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-default dropdown-toggle btn-sm">
                        <i class="fa fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/app/site/{{$index}}">Edit</a></li>
                        <li><a href="#">Stop</a></li>
                        <li><a href="#">Builder</a></li>
                        <li><a href="#">Preview</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="delete($index)"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div>
            </th>
            <td>
                {{site.name}}<br/>
                <small>{{site.domain}}</small>
            </td>
            <td></td>
            <td><i class="fa" ng-class="{'fa-check-square-o': site.status, 'fa-close': !site.status}"></i></td>
        </tr>
        </tbody>
    </table>
</div>
